
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
}


*   {
margin: 0;
padding: 0; 
list-style: none; 
text-decoration: none;   

}


.header { 
    width: 100%; 
    height: 106px;
    display: table;
    background-color: white;
    
    }
    
.inner-nav { 
    display: table-cell;
    width: 1000px;
    display: flex;
    vertical-align: middle;
    
    }

.navigation {
    margin-bottom: 72px; 
    float: right;
    height: 100%;
    display: table-cell;
    font-family: 'Montserrat', sans-serif;

}

.navigation a { 
display: table-cell;
height: 100%;
padding: 50px;

}

.navigation a li { 
display: table-cell;
vertical-align: center;
}


.button-nav {
    display: inline-block;  
    width: 193px;
    height: 52px;
    top: 39px;
    background: #6C63FF;

}

    .h1 {  
    display: flex;    
    flex-direction: column;
    padding-left: 79px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 100px;
    line-height: 122px;
    color: #6C63FF; 
    
    }


.p {
    display: flex;
    font-family: 'Montserrat', sans-serif; 
    position: absolute;
    width: 592px;
    height: 87px;
    left: 79px;
    top: 450px;
}

.button-two {
display: flex;
background-color: white;
border-color: #6C63FF;


}   


.box1 { 
display: flex;
width: 646px;
height: 376px;
left: 79px;
top: 161px;


}



.p { 
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

}

.button-group { 
display: flex;
flex-direction: row; 
position: absolute;
width: 416px;
height: 52px;
left: 79px;
top: 698px;


}